{% extends 'base.html' %}

{% block title %}
    Edit Profile!
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %} <!-- proverava da li je user validan da edituje post(da li admin zeli da edituje admina) -->

        <h1>Edit Profile</h1>

        <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn btn-secondary">Update</button>
        </form>
        </div>
    
        {% else %}

        You are not the correct user to edit this page...

        {% endif %}

{% else %}
    You are not allowed here! (and you know it...)
{% endif %}

{% endblock %}
